{% extends 'diary/base.html' %}

{% block content %}
<section class="py-5 text-center container">

    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="alert alert-danger" role="alert">

                <h1 class="fw-bolder fs-1">Дорогой пользователь!</h1>
                <br>
                <h4 class="text-center text-success">
                    Вы находитесь на сайте предназначеном для ведения личного дневника!
                </h4>
                <br>
                <h5 class="text-center text-secondary">
                    Для вас реализована возможость создавать заметки в личном дневнике, в которых вы можете делиться
                    своими
                    мыслями, воспоминаниями, пережитыми эмоциями и событиями. Вы также можете дополнить заметку
                    фотографией
                    - так воспоминания о приятных событиях будут ярче и детальнее!
                </h5>
                <br>
                <h4 class="text-center text-success">Приятного путешествия по страничкам вашего дневника!</h4>
            </div>


        </div>
    </div>
</section>
{% endblock %}
