{% extends 'diary/base.html' %}
{% load my_tags %}

{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="card-title">
                            {{ object.topic }}
                        </h3>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-8">

                            <div class="card-body ">
                                <h4>{{ object.body }}</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% if object.image %}
                            <img class="img-fluid rounded-start" src="{{ object.image | mediapath }}" width="300"
                                 height="600"
                                 alt="{{object}}">
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <a href="{% url 'diary:note_list' %}"
                                   class="btn btn-success btn-outline-dark btn-md text-white rounded-pill"
                                   style="width: 250px; height: 40px">Вернуться к списку заметок</a>
                                {% if object.owner == request.user or request.user.is_superuser %}
                                <a href="{% url 'diary:note_update' object.pk %}"
                                   class="btn btn-primary btn-outline-dark btn-md text-white rounded-pill"
                                   style="width: 200x; height: 40px">Редактировать</a>
                                <span style="display: inline-block; width: 200px;"></span>
                                <a href="{% url 'diary:note_delete' object.pk %}"
                                   class="btn btn-danger btn-outline-dark btn-md text-white rounded-pill"
                                   style="width: 100px; height: 40px">Удалить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
