{% extends 'diary/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12">
    {% for object in object_list %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Заметки {{ object.owner.name }}</h1>

        </div>
    </section>

    <div class="row">

        <div class="col">
            <div class="card shadow-sm">
                <div class="col">
                    {% if object.image %}
                    <img class="card-img-top" src="{{ object.image | mediapath }}" width="200" height="400"
                         alt="{{object}}">
                    {% else %}
                    <img class="card-img-top" src="/static/images/note.png" width="200" height="400"
                         alt="{{object}}">
                    {% endif %}

                    <div class="card-body bg-warning">

                        <h5 class="card-title">{{ object.topic }}</h5>

                        <a href="{% url 'diary:note_detail' object.pk %}" class="btn btn-outline-dark">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
