{% extends 'diary/base.html' %}
{% load my_tags %}

{% block content %}
<div class="container">
    <div class="col-12">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="card-title">
                            Данные пользователя:
                        </h3>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-8">

                            <div class="card-body ">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Имя:</th>
                                        <td>{{ object.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Электронная почта:</th>
                                        <td>{{ object.email }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% if object.avatar %}
                            <img class="img-fluid rounded-start" src="{{ object.avatar | mediapath }}" width="300"
                                 height="600"
                                 alt="{{object}}">
                            {% else %}
                            {% if object.gender %}
                            {% if object.gender == 'female' %}
                            <img class="img-fluid rounded-start" src="/static/images/avatar_female.png" width="300"
                                 height="600"
                                 alt="{{object}}">
                            {% else %}
                            <img class="img-fluid rounded-start" src="/static/images/avatar_male.png" width="300"
                                 height="600"
                                 alt="{{object}}">
                            {% endif %}
                            {% else %}
                            <img class="img-fluid rounded-start" src="/static/images/no_photo.png" width="300"
                                 height="600"
                                 alt="{{object}}">
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                {% if request.user == object or request.user.is_superuser %}
                                <a href="{% url 'diary:user_note_list' object.pk %}"
                                   class="btn btn-success btn-outline-dark btn-md text-white rounded-pill" style="width: 300px; height: 40px">
                                    {% if user.is_staff %}
                                    Заметки {{ object }}
                                    {% else %}
                                    Мои заметки
                                    {% endif %}
                                </a>
                                <a href="{% url 'users:user_update' object.pk %}"
                                   class="btn btn-primary btn-outline-dark btn-md text-white rounded-pill" style="width: 150px; height: 40px">Редактировать</a>
                                <span style="display: inline-block; width: 200px;"></span>
                                <a href="{% url 'users:user_delete' object.pk %}"
                                   class="btn btn-danger btn-outline-dark btn-md text-white rounded-pill" style="width: 100px; height: 40px">Удалить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
